<h2>{{ drugBoard.name }}</h2>
<ul *ngFor="let bli of drugBoard.lines; index as i">
  <li>{{ bli.placement }} {{bli.artist}} {{bli.song}}</li>
</ul>

<h2>{{ animalBoard.name }}</h2>
<ul *ngFor="let bli of animalBoard.lines; index as i">
  <li>{{ bli.placement }} {{bli.artist}} {{bli.song}}</li>
</ul>

<h2>{{ numberBoard.name }}</h2>
<ul *ngFor="let bli of numberBoard.lines; index as i">
  <li>{{ bli.placement }} {{bli.artist}} {{bli.song}}</li>
</ul>

<h2>{{ familyBoard.name }}</h2>
<ul *ngFor="let bli of familyBoard.lines; index as i">
  <li>{{ bli.placement }} {{bli.artist}} {{bli.song}}</li>
</ul>