<mat-toolbar
  color="primary"
  class="navigation"
>
  <mat-toolbar-row>
    <a class="homelink" routerLink="">RadioEins Bingo</a>&nbsp;
    <span class="example-spacer"></span>
    <button 
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a routerLink="/kategorien">Alle Tipprunden</a>
    </button>
    <button mat-menu-item>
      <a routerLink="/kategorien/Top100Water">Aktuelle Tipprunde</a>
    </button>
    <button mat-menu-item>
      <a routerLink="/kategorien/Top100Water/ergebnisse">Ergebnisse aktuelle Tipprunde</a>
    </button>
    <hr />
    <button mat-menu-item (click)="logOut()">
      Jetzt Ausloggen
    </button>
  </mat-menu>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
