$height-image: 170/300*100
a
  text-decoration: none
  color: #333

.categories
  display: grid
  gap: 8px
  grid-template-columns: 1fr
  padding: 0
  margin: 0
  list-style: none

  li
    padding: 8px
  
  article
    position: relative
    padding-bottom: $height-image * 1%
    width: 100%

    p
      position: absolute
      background-color: rgba(255,255,255, .9)
      padding: 8px
      margin: 0
      width: 100%
      bottom: 0

  img
    position: absolute
    width: 100%

  li:hover
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.2)

@media(min-width: 600px)
  .categories
    grid-template-columns: repeat(2, 1fr)

@media(min-width: 900px)
  .categories
    grid-template-columns: repeat(3, 1fr)