<span class="note">{{ notification }}</span>

<a routerLink="/kategorien">zurück zu der Kategorieliste</a>
<h1>{{ userTips.category.displayName }}</h1>

<h3>{{ getMotivationText() }}</h3>

<form [formGroup]="bingoBoard" (ngSubmit)="submitForm()">
  <div style="background-color: red; color: white;">
    <p>Das Feld mit dem Roten Hintergrund ist dein Tipp für die Nummer 1!</p>
    <p>Die richtige Nummer 1 wird mit 10 Punkten belohnt</p>
  </div>
  <mat-tab-group>
    <mat-tab label="100 - 81">
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="2" formControlName="1_1" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="3" formControlName="1_2" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="4" formControlName="1_3" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="5" formControlName="1_4" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="6" formControlName="1_5" type="text">
      </mat-form-field>
    </mat-tab>
    <mat-tab label="80 - 61">
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="7" formControlName="2_1" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="8" formControlName="2_2" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="9" formControlName="2_3" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="10" formControlName="2_4" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="11" formControlName="2_5" type="text">
      </mat-form-field>
    </mat-tab>
    <mat-tab label="60 - 41">
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="12" formControlName="3_1" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="13" formControlName="3_2" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="14" formControlName="3_3" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="15" formControlName="3_4" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="16" formControlName="3_5" type="text">
      </mat-form-field>
    </mat-tab>
    <mat-tab label="40 - 21">
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="17" formControlName="4_1" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="18" formControlName="4_2" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="19" formControlName="4_3" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="20" formControlName="4_4" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="21" formControlName="4_5" type="text">
      </mat-form-field>

    </mat-tab>
    <mat-tab label="20 - 1">
      <mat-form-field class="example-full-width" appearance="fill">
        <input clasplaceholder="Dein Tipp"s="first-place" 
          matInput tabindex="22" formControlName="5_1" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="23" formControlName="5_2" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="24" formControlName="5_3" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="25" formControlName="5_4" type="text">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <input placeholder="Dein Tipp"
          matInput tabindex="26" formControlName="5_5" type="text">
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>
  <div style="background-color: red; color: white;">
    <p>Das Feld mit dem Roten Hintergrund ist dein Tipp für die Nummer 1!</p>
    <p>Die richtige Nummer 1 wird mit 10 Punkten belohnt</p>
  </div>
  <button mat-raised-button color="primary" [disabled]="!isBeforeDeadline" tabindex="27" type="submit">Speichern</button>
</form>
