.note
  padding: .5rem
  background-color: lime
  text-align: center
  position: fixed
  top: 0
  width: 100%
  left: 0
  right: 0

  &:empty
    display: none

table
  width: 100%

td
  padding: 8px

input
  height: 24px
  width: 100%
  margin-bottom: 8px

.first-place
  border-color: red

.example-full-width
  width: 100%