<h1>RadioEins Top100 Bingo</h1>
<ng-container *ngIf="isLoggedIn; else loggedOut">
  <p>Hallo {{ username }}!</p>
  <p>Lass uns mit ein paar <a routerLink="/kategorien/Top100Zero">Tipps beginnen</a>!</p>
</ng-container>
<ng-template #loggedOut>
  <p>
    Oh wir haben einen neuen Herausforderer! Bitte sag mir wie ich dich ansprechen kann,
    dann kannst du auch gleich loslegen!
  </p>
  <form [formGroup]="loginForm" (ngSubmit)="register()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Benutzername</mat-label>
      <input
        placeholder="Benutzername"
        matInput
        type="text"
        formControlName="username"
      />

    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Einloggen</button>
  
  </form>
</ng-template>
