ul
  display: grid
  list-style: none
  margin: 0
  padding: 0
  gap: 8px
  grid-template-columns: repeat(5, 1fr)

li
  border: 1px solid #ccc
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  text-align: center

p
  width: 100%
  margin: 0

.success
  background: lime

.warning
  background: yellow

.result-element
  &.joker
    background-color: rgba(255, 131, 0, 1)

  &:not(.success):not(.warning):hover
    background-color: rgba(255, 131, 0, .3)
    cursor: pointer



button
  width: 45%

